.playerControls {
  @apply flex flex-row justify-center relative;
}

.playerControls img,
.playerControls svg {
  opacity: 0.8;
  cursor: pointer;
  height: auto;
  aspect-ratio: 1 / 1;
}
.playerControls img:hover {
  opacity: 1;
}
