.player-controls img,
.player-controls svg {
  opacity: 0.8;
  cursor: pointer;
  height: auto;
  aspect-ratio: 1 / 1;
}
.player-controls img:hover {
  opacity: 1;
}

.svg-container {
  @apply absolute p-1 top-1 right-1 opacity-75 inline-block w-full h-full max-h-8 max-w-8;
}

.svg-container svg {
  width: 100%;
  height: 100%;
  display: block; /* Prevents inline-block space issue */
}
