#player {
  display: none;
  position: absolute;
  left: -2000px;
}

#playerControls {
  position: relative;
  @apply flex flex-row justify-center;
}

#playerControls img {
  opacity: 0.8;
  cursor: pointer;
}
#playerControls img:hover {
  opacity: 1;
}
#playerControls .previous.first-song-active img,
#playerControls .next.last-song-active img {
  opacity: 0.3;
  cursor: default;
}
#playerControls .volume {
  @apply flex flex-row place-items-center;
}
#playerControls .volume input[type='range'] {
  background: #eaeaea;
  height: 8px;
  top: 6px;
  border-radius: 6px;
  outline: none;
  -webkit-appearance: none;
  position: relative;
}

#playerControls .next,
#playerControls .previous {
  width: 36px;
  height: 36px;
}

#playerToggle {
  width: 36px;
  height: 34px;
}
